body, html {
}

.py-5 {
    padding-top: 0.8rem !important;
    padding-bottom: 0.5rem !important;
}

.nav a {
    color: black;
}

    .nav a:active {
        background-color: #3a2727;
        color: aqua
    }

.card-banner-1 {
    background-image: url("../images/card1.jpg")
}